<tr id="deliverable-description-<%= deliverable.id %>" class="deliverable deliverable-details <%= css %>">
  <td colspan="9" style="text-align: left;">
    <strong><%= l(:field_description) %></strong>: <%= textilizable deliverable.description %>
  </td>
</tr>
